
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1046e9;
    color: rgb(5, 1, 226);
    text-align: center;
    padding:20px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #12009e;
    color: rgb(4, 79, 123);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
